
.account {
    margin-right: 20px;
    margin-bottom: 30px;
    width: 300px;
}

.acct-icon {
    height: 90px;
    width: 90px;
    z-index:-1;
    animation: icon-spin infinite 10s linear;
}

.small {
    font-size: 75%;
}

@keyframes icon-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }