
.account {
    margin-right: 20px;
    margin-bottom: 30px;
    width: 300px;
  }

h4 {
  width: 100%;
  height: 32px;
  margin-bottom: 2px !important;
}

.app-icon {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.acct-icon {
  height: 82.5px;
  width: 82.5px;
  border-radius: 50%;
}

.upload-btn {
  background-color: lightblue;
  border-color: blue;
  border-width: 1px;
  border-radius: 25%;
  color: blue;
  font-size: 12px;
}

.acct-name-btn, .acct-icon-btn {
  background-color: transparent !important;
  border-color: transparent !important;
  text-align: left;
}

.acct-icon-btn:hover {
  animation: icon-spin infinite 5s linear;
  position: center;
}

.acct-name-btn:hover {
  color: aqua;
}

.upload-btn:hover {
  background-color: yellow;
}

.small {
    font-size: 75%;
}

.right {
  text-align: right;
}

@keyframes icon-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }