* {
    box-sizing: border-box;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .account {
    margin-right: 20px;
    margin-bottom: 30px;
    width: 200px;
} */

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}